{{define "title"}}Home{{end}}

{{define "main"}}
    
    <form action="/generate" method="POST">
        <button type="submit" name="words" value="5">5 Words</button>
        <button type="submit" name="words" value="6">6 Words</button>
        <button type="submit" name="words" value="7">7 Words</button>
        <button type="submit" name="words" value="8">8 Words</button>
    </form>
    <div class="button-group">
        <p id="passphrase">{{.Passphrase}}</p>
        {{if ne .Passphrase " "}}
        <button onclick="copyToClipboard()">Copy</button>
        <button onclick="addSpice()">+ 🌶️</button>
        {{end}}
    </div>
    <p id="pwbits">{{.Entropy}}</p>


{{end}}