{{define "base"}}
<!doctype html>
<html lang='en'>
    <head>
        <meta charset='utf-8'>
        <title>Diceware Passphrase Generator - {{template "title" .}}</title>
        <meta name="description" content="Diceware Passphrase Generator">
        <meta name="keywords" content="diceware, passphrase, generator, security, random, password">
        <meta name="author" content="Joerg.fyi">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- Link to the CSS stylesheet and favicon -->
        <link rel='stylesheet' href='/static/css/style.css'>
        <link rel='shortcut icon' href='/static/img/dice.ico' type='image/x-icon'>
        <script src='/static/js/main.js?v=2' type='text/javascript'></script>
    </head>
    <body>
        <header>
            <h1><a href='/'>Diceware Passphrase Generator</a></h1>
        </header>
            <!-- Invoke the navigation template -->
            {{template "nav" .}}
        <main>
            {{template "main" .}}
        </main>

        <footer>&copy; 2025 <a href='https://joerg.fyi/'>Joerg.fyi</a></footer>
        
    </body>
</html>
{{end}}